body {
    background: hsl(229, 57%, 11%);
     background-image: url(images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    font-family: 'Raleway';
    font-size: 14px;
    color: hsl(243, 100%, 93%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    display: grid;
    grid-template-columns: 300px 500px;
    grid-gap: 20px;
}

.content-left {
    background: hsl(228, 56%, 26%);   
    border-radius: 10px 100px 10px 10px;
    margin-top: 20px;
}

.logo {
    padding-left: 30px;
    padding-top: 30px;
}

.logo img {
    padding-bottom: 20px;
    width: 100px;
}

.icons {
    padding-left: 30px;
    margin-right: 20px;
}

.icons img {
    background: hsl(229, 57%, 11%);
    height: 15px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.content-right {
    background: hsl(228, 56%, 26%);   
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    font-family: 'Raleway';
    font-size: 14px;
    margin-top: 50px;
}

.popup {
    background: white;
    padding: 20px;
    height: 20px;
    color: hsl(229, 57%, 11%);
    border-radius: 10px;
    letter-spacing: 2px;
    transform: translateY(-160px) translateX(290px);
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 30px solid transparent;
    border-right: 0px solid transparent;
    border-top: 30px solid white;
    transform: translateY(10px) translateX(111px);
  }

.popup h1 {
    font-weight: 700;
    float: left;
    transform: translateY(-30px) translateX(-5px);
}

.status-bar-before {
    background: hsl(229, 57%, 11%);
    height: 10px;
    width: 440px;
    border-radius: 50px;
    border: 2px solid  hsl(229, 57%, 11%);
}

.status-bar-after {
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    height: 10px;
    width: 320px;
    border-radius: 50px;
    border: 2px solid  hsl(229, 57%, 11%);
    position: absolute;
    transform: translateY(-14px);
}

.status-bar-circle {
    background: white;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    position: absolute;
    transform: translateY(-11px) translateX(314px);
}

.GB-status {
    display: grid;
    padding-top: 10px;
    grid-template-columns: 1fr 1fr;
}

.GB-status-start {
    text-align: left;
}

.GB-status-end {
    text-align: right;
}

@media screen and (max-width: 375px) {
    body {
        background-image: url(images/bg-mobile.png);
        background-size: cover;
    }
    
    .content {
        display: grid;
        grid-template-columns: 320px;
        grid-gap: 0px;
    }

    .content-left {
        padding-bottom: 50px;
        margin-bottom: -20px;
    }

    .logo img {
        width: 150px;
    }
    
    .icons img {
        height: 30px;
        width: 30px;
        border-radius: 15px;
    }

    .content-right {
        text-align: center;
    }


    .status-bar-before {
        width: 270px;
    }
    
    .status-bar-after {
        width: 200px;
        transform: translateY(-14px);
    }
    
    .status-bar-circle {
        background: white;
        height: 7px;
        width: 7px;
        border-radius: 50%;
        position: absolute;
        transform: translateY(-11px) translateX(193px);
    }

    .popup {
        transform: translateY(-20px);
    }
    
    .arrow-down {
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        border-top: 0px solid white;
    }

    .GB-status {
        padding-bottom: 20px;
    }

}


.attribution { 
    padding-top: 10px;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


